<h2>トップページ</h2>

<p><%= link_to 'サインアップ', "/users/sign_up" %></p>
<p><%= link_to 'サインイン', "/users/sign_in" %></p>

<p><%= link_to 'アカウント', "/users/account" %></p>
<p><%= link_to 'プロフィール', "/users/profile" %></p>
